@model IEnumerable<WebAppForArmDemo.Models.PhotoItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Upload", "Upload")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FileName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Url)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FileName)
        </td>
        <td>
            <img src="@Html.DisplayTextFor(modelItem => item.Url)" style="width: 200px; height: auto;"/>
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.FileName }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FileName })
        </td>
    </tr>
}

</table>
